*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    overflow-x: hidden;
}

p{
    text-align: justify;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul{
    list-style: none;
}
/* NAVBAR */
.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.navbar h1{
    font-size: 5vmin;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
    font-size: 18px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/header-bg.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 150px;
}

.header-content h2{
    font-size: 4vmin;
}

.header-content h1{
    font-size: 7vmin;
    margin: 30px 0;
}

.line{
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.btn{
    padding: 8px 18px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.btn:hover{
    background-color: whitesmoke;
    color: #fc036b;
    border: 1px solid #fc036b;
}

/* EVENTS */

section{
    width: 80%;
    margin: 80px auto;
}

.title{
    font-size: 4vmin;
    text-align: center;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row img{
    border-radius: 20px;
}

.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    margin: 20px auto;
}

.row p{
    color: #7c7c7c;
    padding: 0 40px;
}

.events .btn{
    margin-top: 30px;
}

/* EXPLORE */

.explore{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-content{
    color: whitesmoke;
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.explore-content h1{
    font-size: 7vmin;
}

.explore-content .btn{
    margin-top: 40px;
}

.explore-content .line{
    margin-bottom: 50px;
}

/* UPCOMING TOURS */

.tours .row .col{
    width: 50%;
}

.tours .img-gallery{
    display: flex;
    flex-wrap: wrap;
}

.img-gallery img{
    width: 280px;
    margin:10px
}

.tours h1{
    font-size: 7vmin;
}

.tours .line{
    margin-left: 5px;
    margin-bottom: 40px;
}

.tours p{
    padding: 0;
    padding-right: 20px;
    margin-bottom: 20px;
}

.tours .btn{
    margin-left: -490px;
}

/* FOOTER */

.footer{
    width: 100%;
    min-height: 150px;
    padding: 20px 80px;
    background-color: #fc036b;
    margin: 0;
}

.footer .line{
    background-color: whitesmoke;
}

.footer p{
    color: whitesmoke;
    margin: 15px auto;
    text-align: center;
}

/* TRANSFORMATION */

img:hover{
    transform: translateY(-15px);
}

/* RESPONSIVE */
.menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30px;
    cursor: pointer;
}

@media only screen and (max-width:800px) {
    .navbar{
        padding: 0;
    }

    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;
        transition: all 1s ease;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        }

    .mobile-menu{
        margin-top: 0px;
    }

    .nav-links li{
        margin: 30px auto;
    }

    /* EVENTS */
    .row{
        flex-direction: column;
    }

    .row .col{
        margin:20px auto;
    }

    .col img{
        width: 90%;
    }

    /* EXPLORE & TOURS */
    .explore-content{
        width: 100%;
    }

    .tours .col, .tours .row .col{
        width: 100%;
    }

    .img-gallery{
        justify-content: center;
        align-items: center;
    }

    .img-gallery img{
        width: 90%;
    }

    .footer{
        padding: 10px;
    }

    .tours p{
        padding: 10px;
    }

    .tours .btn{
        margin: 0;
    }
}